@import url('https://fonts.goolgeapis.com/css?family=Roboto:400,700,900');
html {
    box-sizing:border-box;
}
*,*: before, *: after{
    box-sizing:inherit;

}
body {
    margin:0;
    padding:0;
    line-height:1;
    font-family: 'Roboto', sans-serif;
    color:#202020;
    background-color:#fafafa;
    font-smooth:always;
    -webkit-font-smooting:antialised
    -moz-osx-font-smoothing: grayscale;
}

ul{
    margin:0;
    padding:0;

}
$generic-box-shadow: rgba(0,0,0,0,1) 0px 0px 0px 1px,rgba(0,0,0,0.1)  0px 4px 11px;
$generic-border: 1px solid #f1f1f1;
$generic-bg: #db4c3f;

@mixin box-overlay() {
    box-shadow: $generic-box-shadow;
    position:absolute;
    width: 100%;
    z-index:1;
    top: 85px;
    border-radius: 3px;



}

@mixin va($va-align: center) {
    display:flex;
    align-items: center;


@if $va-align != center
}